.add-container {
    display: flex;
    justify-content: center;
    color: #132432;
}

.favorite-cards-container{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 20px;
height: 100vh;
}
