.search-bar-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  margin-right: 2rem;
  align-items: baseline;

}

.search-bar {
  padding: .4rem;

}

.lets-go-button {
  padding: .4rem;
}
