.card {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #6f869a8c;
  margin-left: 4%;
  margin-bottom: 20%;
  padding-bottom: 1%;
  border-radius: 8px;
}

button {
background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
 padding: .4rem;
 text-align: center;
 text-transform: uppercase;
 transition: 0.5s;
 background-size: 200% auto;
 color: white;
 box-shadow: 0 0 20px #eee;
 border-radius: 10px;
 display: block;
}

button:hover {
 background-position: right center;
 color: #fff;
 text-decoration: none;
 cursor: pointer;
 }
