.card {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #6f869a8c;
  /* border: 2px solid purple; */
  margin-left: 4%;
  margin-bottom: 20%;
  padding-bottom: 1%;
  border-radius: 8px;

}
