.App {
  background-image: url("../background.jpg");
  background-size: cover;
  height: 100%;
}

.loading-error-message {
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  color: #132432;
}