.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5vh;
  background: #6f869a8c;
}

.title {
display: flex;
margin-left: 2rem;

}

.buttons-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
  justify-content: space-evenly;
}

.title-searchbar-container {
  display: flex;
  justify-content: space-between;
}
