.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5vh;
  background: #6f869a8c;
  position: sticky;
}

a {
  text-decoration: none;
  color: #fcf1e0e0;
}

a :hover {
  transition: 0.3s;
  transform: scale(1.05);
}

.title {
display: flex;
margin-left: 2rem;

}

.buttons-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
  justify-content: space-evenly;
}

.title-searchbar-container {
  display: flex;
  justify-content: space-between;
}

/* .style {
    padding: .4rem;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.666);
    background: #fcf1e0e0;
    border-radius:

} */



.style {background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%)}
.style {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .style:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
